* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
}

.box1 {
  background-color: black;
  color: white;
  height: 100vh;
  /* width: 37vw; */
}
.box1 h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.box2 {
  background-color: white;
  color: black;
  height: 100vh;
  width: 63vw;
}

.container .box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
